{% extends 'base.html.twig' %}

{% block title %}Espace personel{% endblock %}

{% block content %}
<div class="container">
    
    <h1>Mon compte</h1>
        Bienvenue   {{(app.user.lastname)}} dans votre espace personel. <br>
            CVous pouver modifier vos information personel ici.
            <br>
            <a href="{{path('password')}}">- Modifier mon mot de passe</a><br>
            <hr>
            <a href="{{path('address')}}">- Vos des adresse de livration </a>
            <br><hr>



</div>
{% endblock %}
