{% extends 'base.html.twig' %}

{% block title %}Espace personel{% endblock %}

{% block content %}
<div class="container">
    <h1>Bienvenu dans votre espace personel {{app.user.lastname}}</h1>
</div>
{% endblock %}
