{% extends 'base.html.twig' %}

{% block title %}Modification du mot de passz{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Modification du mots de passe</h1>
    {% if notification %}
        <div class="alert alert-info">
            {{ notification }}
        </div>
    {% endif %}
{{form(form)}}
</div>
    

{% endblock %}
