{% extends 'base.html.twig' %}

{% block title %}Connextion{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 style="margin-bottom: 20px;">S'incrire</h1>
    {{form(form)}}
</div>

{% endblock %}
