.produits{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 80%;
    margin: auto;
    padding: 10px;
    margin-top:20px;
    column-gap: 20px;
    row-gap: 20px;
}
.produit{
    width: 33,33%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
   
    
}
.cont{
    width: 80%;
    margin: auto;
}
.ima_produit{
   width: 200px;
   height: 200px;

}
.ima_produit:hover{
    border: 5px solid rgb(190, 118, 23, 0.3) ;
}
.contoire{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.left-produit{
    width: 40%;
    display: flex;
    flex-direction: column;
   align-items: center; 
}
.rigth-produit{
    width: 40%;
    display: flex;
    flex-direction: column;
   align-items: center;  
}
.contoire .ima{
 width: 500px;
 height: 500px;
}
.cart-icon{
    height: 20px;
    padding-left: 20px;
  }
.adresses{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 60%;
    margin: auto;
    padding: 10px;
    margin-top:20px;
}
.adresse{
    width: 33,33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aqua;
}