.produits{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    margin: auto;
    
    
}
.produit{
    width: 33,33%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
   
    
}
.contenaire{
    width: 33,33%;
    height: 100px;

}
.cont{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 50px;
  
}
.ima-carousel{
    overflow: hidden;
}
.prod{
    display: flex;
    align-items: center;
    width: 300px;
    height: 300px;
}

.ima_produit{
   width: 70% ;
   height: 70%;
   margin: auto;
   
  

}
.ima_produit:hover{
   
    width: 110%;
    height: 100%;
    transition: 1s;
    
    
   

}

.cart-icon{
    height: 20px;
    padding-left: 20px;
  }
.adresses{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 60%;
    margin: auto;
    padding: 10px;
    margin-top:20px;
}
.adresse{
    width: 33,33%;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.carouselExampleControls{
   width: 40%;
   margin: auto;
}
.ima_carousel{
    width: 200px;
    height: 200px;
}
.text-muted{
    height: 40px;
    width: 265px;
    margin: auto;
}
.btn-info{
    color: aliceblue;
    background-color: #da9f5b;
    border-color: #c86f02;
}
.btn-info:hover{
    color: rgb(255, 225, 142);
    background-color: #c86d04;
    border-color: #c86f02;
    transition: 1s;
}
/* show.html.twig */

.contoire{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    

}
.left-produit{
    width: 40%;
    display: flex;
    flex-direction: column;
   align-items: center; 
}
.rigth-produit{
    width: 40%;
    display: flex;
    flex-direction: column;
   align-items: center;  
}
.contoire .ima{
 width: 500px;
 height: 500px;
}